@page "/"
@model DashboardModel

<!-- Main -->
<main>
    <!-- Text -->
    <div class="row">
        <div class="col-12 align-self-center">
            <!-- Profile Section -->
            <div class="row mt-4 mt-md-0">
                <div class="col-4 col-md-3 mb-4 text-center">
                    <img class="card-img-top rounded" src="https://members.deletethedivide.org/assets/images/user.png" alt="user image">
                    <a href="/Profile/AvatarList"><small class="d-block mt-2">Choose Avatar</small></a>
                </div>
                <div class="col-8 col-md-9 mb-4">
                    <h5 class="featured mt-0 mb-2">@Model.Name</h5>
                    <ul class="dtd-li">
                        <li>@Model.School</li>
                        <li>@Model.District</li>
                        <li>My progress: 0%</li>
                    </ul>
                </div>
            </div>

            <!-- About Me Section -->
            <div class="container">
                <h4 class="about-me">About Me</h4>
                <p class="about-me">@Model.AboutMe</p>
            </div>

            <!-- Mentees Section -->
            <div class="container">
                <h4 class="about-me">Current Mentees</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-12">
                    @foreach (var mentee in Model.CurrentMentees)
                    {
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="@mentee.Image" class="card-img" alt="Mentee Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@mentee.Name</h5>
                                        <p class="card-text">@mentee.GetShortDescription()</p>
                                        <button class="btn btn-danger" onclick="showConfirmationPopup('@mentee.Name')">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function showConfirmationPopup(menteeName) {
        var reason = prompt("Why do you want to remove " + menteeName + "?");
        if (reason) {
            // The user entered a reason, perform the removal logic here
            // Make an AJAX request to the server to remove the mentee
        }
    }

    $(document).ready(() => {
        // Existing jQuery code
    });
</script>
